@use "../abstracts" as *;

:root {
  --white: #fff;
  --primary: #007bff;
  --primary-800: #0056b3;
  --cd-back-to-top-size: 52px;
  --cd-back-to-top-margin: 40px;
  --section-spacing: 3.5rem;
  @each $color, $shade in $colors {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }
}

@media screen and (max-width: 479px) {
  :root {
    --cd-back-to-top-size: 40px;
    --cd-back-to-top-margin: 20px;
  }
}
