.file {
    cursor: pointer;
    margin: 0 1rem 0 0;
    text-align: center;
    width: 6rem;

    .image {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 0 1rem 0;
    }

    .text {
        word-break: break-all;
        padding: 2px;
    }
}