#contact span {
    background-color: #fff;
    color: #545454;
    padding: 20px 50px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    font-size: 18px;
    box-shadow: none;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contact span:hover {
    color: var(--primary);
}

#contact a:hover {
    text-decoration: none;
}