.footer-area {
    background: #007acc;
    height: 24px;
}

.footer-area .footer-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}

.branch {
    color: #FFF;
    font-size: 12px;
    margin-right: 16px;
}

.branch img {
    margin-top: -5px;
    width: 18px;
}

@media (max-width: 576px) {
    .footer-area .footer-content .text-right {
        text-align: center!important;
        padding-top: 16px;
    }
    .list_style {
        text-align: center !important;
    }
}

.footer-content ul li {
    display: inline-block;
    margin-top: 2px;
}

.footer-content ul li a {
    color: #fff;
    margin-right: 16px;
    display: inline-block;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.footer-content ul li a:hover {
    cursor: pointer;
}

.footer-content span {
    font: 400 10px/18px Montserrat,sans-serif;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 25px;
}