.job-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #545454;

    &:last-child {
        border-bottom: none;
    }
}

.job-date {
    color: #e3e3e3;
    line-height: 36px;
}

.job-title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -4px;
}

.job-description {
    font-size: 14px;
}

.job-company {
    display: block;
    font-size: 16px;
    margin-bottom: 6px;
}

.job-skills {
    span {
        margin-left: 8px;
        margin-right: 8px;
        text-transform: uppercase;

        &:first-child {
            margin-left: 0;
        }
    }
}

@media (max-width: 990px) {

    .timeline {
        margin-left: unset !important;
        margin-top: 40px;
    }

    .job-container {
        grid-template-columns: 1fr;
    }

}